In [77]:
import numpy as np
import pandas as pd
np.random.seed(0)
df=pd.read_csv('Creditcard_data.csv')
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [78]:
df['Class'].value_counts()

Class
0    763
1      9
Name: count, dtype: int64

oversampling minority class

In [79]:
df_majority = df[df['Class'] == 0]
df_minority = df[df['Class'] == 1]

In [80]:
from sklearn.utils import resample
df_minority_upsampled = resample(
    df_minority,
    replace=True,
    n_samples=len(df_majority),
    random_state=0
)
df_balanced = pd.concat([df_majority, df_minority_upsampled])
df_balanced = df_balanced.sample(frac=1, random_state=0).reset_index(drop=True)
df_balanced['Class'].value_counts()

Class
1    763
0    763
Name: count, dtype: int64

simple random sampling

In [81]:
sample_size=5
random_sample=df_balanced.sample(n=sample_size,random_state=42)
print(random_sample)

      Time        V1        V2        V3        V4        V5        V6  \
1439   406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
76     356  1.021392  0.155451 -0.312291  0.961407  0.548611  0.121816
1010   154  1.315601  0.413148 -0.018953  0.487834  0.132331 -0.574307
660    484 -0.928088  0.398194  1.741131  0.182673  0.966387 -0.901004
1132   472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

            V7        V8        V9  ...       V21       V22       V23  \
1439 -2.537387  1.391657 -2.770089  ...  0.517232 -0.035049 -0.465211
76    0.525318 -0.053891 -0.686867  ... -0.224762 -0.850712 -0.077845
1010  0.146563 -0.215923 -0.080276  ... -0.329567 -0.891188  0.011352
660   0.879016 -0.156590 -0.142117  ...  0.066353  0.281378 -0.257966
1132  0.325574 -0.067794 -0.270953  ...  0.661696  0.435477  1.375966

           V24       V25       V26       V27       V28  Amount  Class
1439  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00      1
76   -0.679775  0.484478 -0.605930 -0.005454  0.019392  105.87      0
1010 -0.477579  0.365667  0.143254 -0.016757  0.024640    1.98      0
660   0.385384  0.391117 -0.453853 -0.104448 -0.125765    1.00      1
1132 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00      1

[5 rows x 31 columns]

systematic sampling

In [82]:
import math
import random
n = len(df_balanced)
k = int(math.sqrt(n))
random.seed(42)
start=random.randint(0,k-1)
systematic_sample = df_balanced.iloc[start::k][:5] #selecting every kth row with random start
print(systematic_sample.head())

     Time        V1        V2        V3        V4        V5        V6  \
7      95  1.316178 -0.105594 -0.246480 -1.185715 -0.119566 -0.613399
46    539 -1.738582  0.052740  1.187057 -0.656652  0.920623 -0.291788
85     89  0.270725 -1.615317  1.054982  1.661510 -1.737687  0.065894
124    12 -0.752417  0.345485  2.057323 -1.468643 -1.158394 -0.077850
163   192 -0.351287  1.183754  0.530794  0.543891  0.798441 -0.804472

           V7        V8        V9  ...       V21       V22       V23  \
7    0.007359 -0.136794  0.847827  ...  0.093118  0.404571 -0.282551
46   0.269083  0.140631  0.023464  ... -0.179545 -0.192036 -0.261879
85  -0.313977  0.089081  1.069842  ...  0.475338  0.496083 -0.482194
124 -0.608581  0.003603 -0.436167  ...  0.499625  1.353650 -0.256573
163  1.563170 -0.935794  0.633634  ... -0.121755  0.668124 -0.057380

          V24       V25       V26       V27       V28  Amount  Class
7   -0.456799  0.895368 -0.561880  0.044794  0.003181    7.21      0
46  -0.237477 -0.335040  0.240323 -0.345129 -0.383563    1.00      1
85   0.418871  0.235961 -0.265185 -0.001063  0.120126  459.39      0
124 -0.065084 -0.039124 -0.087086 -0.180998  0.129394   15.99      0
163  0.301398 -0.730946 -0.538616 -0.037212 -0.479956    1.79      0

[5 rows x 31 columns]

stratified sampling

In [83]:
from sklearn.model_selection import train_test_split
stratified_sample, _ = train_test_split(df_balanced,  test_size=len(df_balanced)-5, stratify=df_balanced['Class'], random_state=42)
print(stratified_sample.head())

     Time        V1        V2        V3        V4        V5        V6  \
154   539 -1.738582  0.052740  1.187057 -0.656652  0.920623 -0.291788
647   539 -1.738582  0.052740  1.187057 -0.656652  0.920623 -0.291788
516   218  1.201989 -0.034452  0.696628  0.956746 -0.005827  1.095223
705   508  1.335369  0.535982 -0.448156  0.902998  0.517134 -0.694213
897   529 -2.000567 -2.495484  2.467149  1.140053  2.462010  0.594262

           V7        V8        V9  ...       V21       V22       V23  \
154  0.269083  0.140631  0.023464  ... -0.179545 -0.192036 -0.261879
647  0.269083  0.140631  0.023464  ... -0.179545 -0.192036 -0.261879
516 -0.574524  0.243435  0.788419  ... -0.109658 -0.011904 -0.166958
705  0.590279 -0.348319 -0.344490  ... -0.042465 -0.021676 -0.259350
897 -2.110183  0.788347  0.958809  ...  0.422452  1.195394  0.297836

          V24       V25       V26       V27       V28  Amount  Class
154 -0.237477 -0.335040  0.240323 -0.345129 -0.383563    1.00      1
647 -0.237477 -0.335040  0.240323 -0.345129 -0.383563    1.00      1
516 -1.295060  0.570793 -0.296854  0.094955  0.024008   12.99      0
705 -0.412243  0.991928 -0.247183 -0.003841  0.004311    2.27      0
897 -0.857105 -0.219322  0.861019 -0.124622 -0.171060    1.50      1

[5 rows x 31 columns]

cluster sampling

In [84]:
df_temp = df_balanced.copy()
df_temp['cluster_col'] = df_temp.index % 10
clusters_to_pick = random.sample(list(df_temp['cluster_col'].unique()), 5)
cluster_sample = pd.concat([
    df_temp[df_temp['cluster_col'] == c].sample(n=1, random_state=42)
    for c in clusters_to_pick
])
print(cluster_sample.head())

     Time        V1        V2        V3        V4        V5        V6  \
840   357 -0.711928  1.547423  1.799759  2.489060  0.450497  1.073762
844    17  0.962496  0.328461 -0.171479  2.109204  1.129566  1.696038
843   521  1.132712 -0.931559  0.913450 -0.804352 -1.066478  0.577369
841   118  1.254914  0.350287  0.302488  0.693114 -0.371470 -1.070256
686   354  1.135629 -0.173986  0.730692  0.711558 -0.854209 -0.494951

           V7        V8        V9  ...       V22       V23       V24  \
840  0.309374  0.450854 -1.560107  ... -0.136653  0.052595 -0.327937
844  0.107712  0.521502 -1.191311  ...  0.402492 -0.048508 -1.371866
843 -1.153211  0.300888 -0.793747  ...  1.436067 -0.114943 -0.206096
841  0.086781 -0.202836  0.035154  ... -0.832682  0.128083  0.339427
686 -0.296620  0.110536  0.490269  ... -0.682700  0.096611  0.519267

          V25       V26       V27       V28  Amount  Class  cluster_col
840 -0.531480  0.005533  0.515896  0.250372    0.75      0            0
844  0.390814  0.199964  0.016371 -0.014605   34.09      0            4
843  0.255425 -0.016737  0.061154  0.020807   69.99      0            3
841  0.215944  0.094704 -0.023354  0.030892    2.69      1            1
686  0.201128  0.259544 -0.039581  0.007195   23.88      0            6

[5 rows x 32 columns]

In [85]:
X_cluster = cluster_sample.drop(['Class','cluster_col'], axis=1).copy()
y_cluster = cluster_sample['Class'].copy()

probability proportional to size sampling

In [86]:
sample_size = 5
weights = df_balanced['Class'].value_counts(normalize=True)
row_weights = df_balanced['Class'].map(weights)
pps_sample = df_balanced.sample(n=sample_size, weights=row_weights, random_state=42)
print(pps_sample)

      Time        V1        V2        V3        V4        V5        V6  \
571     41  1.138759 -1.192953  1.407131 -0.330070 -2.069503 -0.242175
1450   484  1.093370  0.108995  0.100227  0.913194  0.084986  0.030469
1117    84  1.119272 -0.669639  0.803807 -0.651693 -1.395666 -0.800698
913    484 -0.928088  0.398194  1.741131  0.182673  0.966387 -0.901004
238     73  1.239048  0.293284  0.086472  1.178277  0.373344  0.325596

            V7        V8        V9  ...       V21       V22       V23  \
571  -1.306635  0.104510  0.134628  ... -0.156198 -0.030569 -0.019723
1450  0.087877  0.064277 -0.256511  ...  0.112292  0.265242 -0.162023
1117 -0.601605  0.014390  2.019905  ...  0.163687  0.546516 -0.176836
913   0.879016 -0.156590 -0.142117  ...  0.066353  0.281378 -0.257966
238   0.119319 -0.025476  0.173211  ... -0.148136 -0.111893 -0.173207

           V24       V25       V26       V27       V28  Amount  Class
571   0.433753 -0.029521  1.141241 -0.008612  0.041564   96.94      0
1450 -0.294748  0.610165 -0.300513  0.017064  0.011275   49.90      0
1117  0.402556  0.563402 -0.534236  0.075047  0.042001   67.30      0
913   0.385384  0.391117 -0.453853 -0.104448 -0.125765    1.00      1
238  -0.714729  0.817360 -0.263843  0.047777  0.008735    1.00      0

[5 rows x 31 columns]

In [38]:
# import scipy.stats as stats

# def check_goodness_of_sample(sample):

#     sample_mean = np.mean(sample)
#     sample_median = np.median(sample)
#     sample_mode = stats.mode(sample).mode[0]

#     sample_range = np.ptp(sample)
#     sample_var = np.var(sample)
#     sample_std = np.std(sample)

#     sample_confidence_interval = stats.t.interval(confidence=0.95, df=len(sample) - 1, scale=sample_std/np.sqrt(len(sample)), loc=sample_mean)
#     print("Sample Mean: ", sample_mean)
#     print("Sample Median: ", sample_median)
#     print("Sample Mode: ", sample_mode)
#     print("Sample Range: ", sample_range)
#     print("Sample Variance: ", sample_var)
#     print("Sample Standard Deviation: ", sample_std)
#     print("Sample Confidence Interval: ", sample_confidence_interval)

models

In [87]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [93]:
samples = [
    (random_sample.drop('Class', axis=1), random_sample['Class']),
    (systematic_sample.drop('Class', axis=1), systematic_sample['Class']),
    (stratified_sample.drop('Class', axis=1), stratified_sample['Class']),
    (X_cluster, y_cluster),
    (pps_sample.drop('Class', axis=1), pps_sample['Class'])
]
sample_names = ['Random', 'Systematic', 'Stratified', 'Cluster', 'PPS']

In [89]:
models = [
    LogisticRegression(max_iter=1000),
    DecisionTreeClassifier(),
    RandomForestClassifier(n_estimators=50),
    KNeighborsClassifier(),
    SVC()
]
model_names = ['LogReg', 'DecisionTree', 'RandomForest', 'KNN', 'SVM']

In [90]:
accuracy_matrix = pd.DataFrame(index=sample_names, columns=model_names)

remaining as test set

In [91]:
all_sample_indices = list(random_sample.index) + list(systematic_sample.index) + \
                     list(stratified_sample.index) + list(cluster_sample.index) + \
                     list(pps_sample.index)

X_test = df_balanced.drop(all_sample_indices, axis=0).drop('Class', axis=1).copy()
y_test = df_balanced.drop(all_sample_indices, axis=0)['Class'].copy()

In [94]:
for i, (X_samp, y_samp) in enumerate(samples):
    for j, model in enumerate(models):
        model.fit(X_samp, y_samp)
        y_pred = model.predict(X_test)
        accuracy_matrix.iloc[i, j] = accuracy_score(y_test, y_pred)

In [95]:
print("5x5 Accuracy Matrix:\n")
print(accuracy_matrix)

5x5 Accuracy Matrix:

              LogReg DecisionTree RandomForest       KNN       SVM
Random      0.674883     0.587608     0.536975  0.502332  0.502332
Systematic  0.660893     0.622918     0.548301  0.497668  0.632245
Stratified   0.60493     0.603598     0.578281  0.502332  0.502332
Cluster      0.58028     0.572951      0.57495  0.497668  0.497668
PPS         0.677548     0.467022     0.554297  0.497668  0.497668